body {
  font-family: 'Raleway' !important;
  text-transform: uppercase;
}

/*** Navigation ***/
#my-nav {
    display: flex;
    position: absolute;
    width: 100%;
    z-index: 1;
    font-size: 18px;
    background-color: #265B6A;
}

    #my-nav > .nav-items {
      display: flex;
      width: 100%;
      list-style: none;
      margin: 0;
      justify-content: space-evenly;
      align-items: center;
      background: none;
    }

        #my-nav > .nav-items > li {
          flex: 1;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

            #my-nav > .nav-items > li.active {
                background-color: #AA8839;
            }

    #my-nav a {
        color: white;
        transition: all .4s;
        border-bottom: none;
        text-decoration: none;
    }

        #my-nav a:after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #AA8839;
            transition: width .3s;
        }

            #my-nav a:hover:after {
                width: 100%;
            }

video#banner-vid {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    object-fit: cover;
}

#jumbotron {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    #jumbotron #slide-wrap, #jumbotron #slide-wrap2, #jumbotron #slide-wrap3 {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #jumbotron #recommender-form-wrap {
        width: 64%;
        max-width: 400px;
        position: absolute;
        top: 20%;
    }

    #jumbotron #recommender-results-wrap {
        width: 80%;
        position: absolute;
        height: 100%;
    }

    #jumbotron #jumbotron-text {
        width: 55%;
        position: absolute;
        top: 30%;
    }

    #jumbotron #jumbotron-text-rec {
        width: 96%;
        position: absolute;
        top: 30%;
    }

    #jumbotron p {
        font-size: 30px;
    }

    #jumbotron-text > h1 {
        font-size: 140px;
        text-align: left !important;
    }

    h1 {
      text-align: center;
      z-index: 1;
    }

    #jumbotron-text-rec h1 {
        font-size: 30px;
        z-index: 1;
        text-align: center;
    }

        #jumbotron #slide-wrap2 #recommender-form-wrap button {
            background-color: #265B6A;
            border-color: #265B6A;
            color: white;
        }

        #jumbotron #slide-wrap2 #recommender-form-wrap button:hover {
            background-color: #8bbbc9;
            border-color: #8bbbc9;
        }

        #app-recommendations {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            justify-content: center;
        }

        #app-recommendations li {
            width: 300px;
            height: 300px;
            position: relative;
            display: flex;
            align-items: flex-end;
            background: url(http://boldapp.surge.sh/images/appstore.png);
            background-size: cover;
            justify-content: center;
            margin: 10px;
            border-radius: 10px;
        }

            #app-recommendations li::before {
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.4);
                position: absolute;
                border-radius: 10px;
            }

.tableauPlaceholder#viz1513286765005, .tableauPlaceholder#viz1513286765005 iframe {
  width: 100% !important;
}

#validation-modal .modal-header {
    background-color: #265B6A;
    color: white;
}

    #validation-modal .modal-header .close {
        color: white;
        opacity: 1;
        text-shadow: none;
    }

#validation-modal .modal-body {
    text-transform: none;
}

#validation-modal .modal-footer button {
    color: white;
    background-color: #265B6A;
    border-color: #265B6A;
}

    #validation-modal .modal-footer button:hover {
        color: white;
        background-color: #AA8839;
        border-color: #AA8839;
    }

/*** Footer ***/
#my-footer {
    background-color: #265B6A;
    height: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

    #my-footer > #social-media-buttons {
        font-size: 28px;
    }

        #my-footer > #social-media-buttons > a {
            color: white;
        }
