<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script
          src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>

        <meta http-equiv="Access-Control-Allow-Origin" content="*">
    </head>
    <body>
        <nav id="my-nav">
            <div class="nav-title">
                <a class="navbar-brand" href="#">BOLD</a>
            </div>
            <ul class="nav-items">
                <li class="active" id="nav-home"><a href="/">Home</a></li>
                <li id="nav-recommender"><a onclick="showRecommender()" href="#">Recommender</a></li>
                <li id="nav-tableau"><a href="/tableau">Tableau Dashboard</a></li>
                <li id="nav-other"><a href="#">Other Stuff</a></li>
            </ul>
        </nav>

        <video poster="{{ url_for('static', filename='home.webp') }}" id="banner-vid" playsinline autoplay muted loop>
            <source src="{{ url_for('static', filename='home.mp4') }}">
        </video>

        <div id="jumbotron">
            <div id="slide-wrap">
                <div id="jumbotron-text">
                    <p>What information can be gleaned about you using <br><span id="jumbotron-text-cycle">a single app on your phone?</span></p>
                    <h1>BOLD</h1>
                </div>
            </div>
            <div id="slide-wrap2" style="display: none;">
                <div id="recommender-form-wrap">
                    <form method="POST" id="recommender-form">
                        <div class="form-group">
                            <label for="user">User ID:</label>
                            <select class="form-control" id="user" name="user" type="text"></select>
                        </div>
                        <div class="form-group">
                            <label for="app-1">App Name:</label>
                            <select class="form-control" id="app-1" name="app-1"></select>
                        </div>
                        <div class="form-group">
                            <label for="rating">Rating:</label>
                            <input class="form-control" id="rating" name="rating" type="number" value="0" min="0">
                        </div>
                    </form>
                    <button onclick="validateForm()" class="btn btn-lg btn-default">Recommend Apps</button>
                </div>
            </div>
        </div>

        <div class="modal fade" id="validation-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Form error!</h4>
                    </div>
                    <div class="modal-body">
                        <p>Your form has an app listed more than once. Each app can only occur one time on your phone.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="my-footer">
            <h1>Contact Us.</h1>
            <div id="social-media-buttons">
                <a href="https://youtube.com/bold"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                <a href="https://facebook.com/bold"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/bold"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://instagram.com/bold"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <p>&copy; BOLD, 2017</p>
        </div>
    </body>
</html>

<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$(document).ready(function() {
    $.ajax({
        type: "GET",
        url: $SCRIPT_ROOT+"/bold-app.csv",
        dataType: "text",
        success: function(data) {processAppNames(data);}
     });
     $.ajax({
         type: "GET",
         url: $SCRIPT_ROOT+"/bold-user.csv",
         dataType: "text",
         success: function(data) {processUsers(data);}
      });
 });

 function showRecommender() {
    $('#slide-wrap').hide('slide', {direction: 'left'}, 1000);
    $('#slide-wrap2').show('slide', {direction: 'right'}, 1000);

    $("#nav-home").removeClass("active");
    $("#nav-recommender").addClass("active");
}

function processAppNames(allText) {
    var allTextLines = allText.split(/\r\n|\n/);
    var apps = {};

    for(var j = 1; j < allTextLines.length; j++) {
        apps[allTextLines[j].split(',')[6]] = allTextLines[j].split(',')[0];
    }

    Object.keys(apps).forEach(function(key, index) {
        $("[id^='app-']").append($("<option />").val(apps[key]).text(key));
    });
}

function processUsers(allText) {
    var allTextLines = allText.split(/\r\n|\n/);
    var users = [];

    for(var j = 1; j < allTextLines.length; j++) {
        users[j] = allTextLines[j].split(',')[0];
    }

    users.sort();

    $.each(users, function() {
        $("#user").append($("<option />").val(this).text(this));
    })
}

var $form = $("#recommender-form");

function validateForm() {
    $form.submit();
}

var count = 0;
var cycleArray = ["a single app on your phone?", "your location?", "your income?"];
setInterval(function() {
    count++;
    $("#jumbotron-text-cycle").slideUp(400, function() {
        $(this).text(cycleArray[count % cycleArray.length]).slideDown(400);
    });
}, 3000);

</script>
