<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://public.tableau.com/javascripts/api/tableau-2.0.0.min.js"></script>

        <meta http-equiv="Access-Control-Allow-Origin" content="*">
    </head>
    <body>
        <nav id="my-nav">
            <div class="nav-title">
                <a class="navbar-brand" href="#">BOLD</a>
            </div>
            <ul class="nav-items">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/tableau">Tableau Dashboard</a></li>
                <li><a href="/recommender.html">Recommender</a></li>
                <li><a href="#">Other Stuff</a></li>
            </ul>
        </nav>

        <div class='tableauPlaceholder' id='viz1513286765005' style='position: relative'>
          <noscript>
            <a href='http:&#47;&#47;boldapp.surge.sh&#47;tableau'>
              <img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;BO&#47;BOLD_Capstone&#47;AppBreakDownByUser&#47;1_rss.png' style='border: none' />
            </a>
          </noscript>
          <object class='tableauViz'  style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
            <param name='name' value='BOLD_Capstone&#47;AppBreakDownByUser' />
            <param name='tabs' value='yes' /><param name='toolbar' value='yes' />
            <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;BO&#47;BOLD_Capstone&#47;AppBreakDownByUser&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='filter' value='publish=yes' />
          </object>
        </div>
        <script type='text/javascript'>
          var divElement = document.getElementById('viz1513286765005');
          var vizElement = divElement.getElementsByTagName('object')[0];
          vizElement.style.width='1000px';vizElement.style.height='850px';
          var scriptElement = document.createElement('script');
          scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
          vizElement.parentNode.insertBefore(scriptElement, vizElement);
        </script>

        <div id="my-footer">
            <h1>Contact Us.</h1>
            <div id="social-media-buttons">
                <a href="https://youtube.com/bold"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                <a href="https://facebook.com/bold"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="https://twitter.com/bold"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href="https://instagram.com/bold"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
            <p>&copy; BOLD, 2017</p>
        </div>
    </body>
</html>

<style>
iframe {
  padding-top: 50px !important;
}

::-webkit-scrollbar {
    display: none;
}
</style>
